body {
  min-height: 100%;
}

.guppy_osk {
  position: sticky;
  width: 100%;
  bottom: 0px;
}

.guppy_osk .controls {
  display: none;
  text-align: center;
  width: 100%;
  background-color: #fff;
  padding: 5px;
}

.guppy_osk .keys {
  border: none !important;
}

.guppy_osk_group {
  width: 100%;
  background-color: white;
  text-align: center;
}

.guppy_osk_group_box {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(45px, 1fr)) 10px repeat(3, minmax(45px, 1fr)) 0px;
  margin: auto;
  padding: 3px;
  max-width: 400px;
}

.guppy_osk .spacer {
  display: inline-block;
}

.guppy_osk br {
  margin: -3px;
}

.guppy_osk .guppy_osk_key {
  margin: 3px;
  height: 30px;
  line-height: 30px;
  background: #ddd;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
}

.guppy_osk .guppy_osk_key:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.tabbed {
  overflow: hidden;
  clear: both;
}

.tabbed ul {
  display: none;
  list-style-type: none;
}

.tabbed li {
  float: left;
  cursor: pointer;
}

.tabbed a {
  display: block;
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  margin: 0px 5px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 0px;
}

.tabbed a.active_tab {
  background-color: #7cf;
}

.tabbed div {
  display: none;
}
